<div class="row">
  <%= form_for [:admin, @job_offer], html: {class: 'col s12'} do |f| %>
    
    <%# TITLE %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :title %>
        <%= f.label :title %>
      </div>
    </div>

    <div class="row">
      
      <%# JOB TITLE %>
      <div class="col s6">
        <%= f.label :job_title_token, "Job Title" %><br>
        <%= f.text_field :job_title_token, class: 'job-offers-page__job-title-field', data: {load: '['+ ( @job_offer.job_title ? @job_offer.job_title.to_json : '') +']'} %>
      </div>

      <%# COMPANY %>
      <div class="col s6">
        <%= f.label :company_token, "Company" %><br>
        <%= f.text_field :company_token, class: 'job-offers-page__company-field', data: {load: '['+ ( @job_offer.company ? @job_offer.company.to_json : '') +']'} %>
      </div>
    </div>

    <%# LINK %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :link %>
        <%= f.label :link %>
      </div>
    </div>

    <%# DESCRIPTION %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description, class: 'materialize-textarea' %>
        <%= f.label :description %>
      </div>
    </div>

    <div class="row">
      
      <%# COUNTRY %>
      <div class="col s6">
        <%= f.label :country_token, "Country" %><br>
        <%= f.text_field :country_token, class: 'job-offers-page__country-field', data: {load: '['+ ( @job_offer.country ? @job_offer.country.to_json : '') +']'} %>
      </div>

      <%# CITY %>
      <div class="col s6">
        <%= f.label :city_token, "City" %><br>
        <%= f.text_field :city_token, class: 'job-offers-page__city-field', data: {load: '['+ (@job_offer.city ? @job_offer.city.to_json : '') +']'} %>
      </div>
    </div>


    <div class="row">
      
      <%# ADDRESS %>
      <div class="input-field col s6">
        <%= f.text_area :address, class: 'materialize-textarea' %>
        <%= f.label :address %>
      </div>

      <%# TECHNOLOGIES %>
      <div class="col s6">
        <%= f.label :technology_tokens, "Technologies" %><br>
        <%= f.text_field :technology_tokens, class: 'job-offers-page__technologies-field', data: {load: @job_offer.technologies} %>
      </div>
    </div>

    <div class="row">
      
      <%# IS ACTIVE? %>
      <div class="col s6">
        <%= f.label :is_active, "Is offer active?" %><br>
        <div class="switch">
          <label>
            Off
            <%= f.check_box :is_active %>
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      
      <%# ACTIVE TO %>
      <div class="col s6">
        <%= f.label :active_to, "Offer active to (45 days in advance by default)" %>
        <%= f.date_field :active_to, class: 'datepicker' %>
      </div>
    </div>

    <div class="row">
      
      <%# SALARY FROM %>
      <div class="input-field col s3">
        <%= f.label :salary_from, "Salary from" %>
        <%= f.text_field :salary_from %>
      </div>

      <%# SALARY TO %>
      <div class="input-field col s3">
        <%= f.label :salary_to, "Salary to" %>
        <%= f.text_field :salary_to %>
      </div>
      
      <%# CURRENCY %>
      <div class="input-field col s3">
        <%=
          f.select :currency_id,
            options_for_select(
              Currency.all.map{ |c| [c.sign, c.id] },
              selected_key = f.object.currency_id
            ),
            {:include_blank => 'Currency...'}
        %>
        <%= f.label :currency_id, "Currency" %>
      </div>

      <%# SALARY PERIOD %>
      <div class="input-field col s3">
        <%=
          f.select :salary_period_id,
            options_for_select(
              SalaryPeriod.all.map{ |c| [c.period, c.id] },
              selected_key = f.object.salary_period_id
            ),
            {:include_blank => 'Salary period...'}
        %>
        <%= f.label :salary_period_id, "Salary period" %>
      </div>
    </div>

    <div class="row">

      <%# EMPLYMENT TYPE %>
      <div class="input-field col s6">
        <%=
          f.select :employment_type_id,
            options_for_select(
              EmploymentType.all.map{ |c| [c.name, c.id] },
              selected_key = f.object.employment_type_id
            ),
            {:include_blank => 'Employment type...'}
        %>
        <%= f.label :employment_type_id, "Employment type" %>
      </div>

      <%# WORK TYPE %>
      <div class="input-field col s6">
        <%=
          f.select :work_type_id,
            options_for_select(
              WorkType.all.map{ |c| [c.name, c.id] },
              selected_key = f.object.work_type_id
            ),
            {:include_blank => 'Work type...'}
        %>
        <%= f.label :employment_type_id, "Work type" %>
      </div>
    </div>

    <%# SUBMIT BUTTON %>
    <div class="row">
      <div class="col s12"> 
        <%= button_tag(type: "submit", class: "btn waves-effect waves-light") do %>
          Submit <i class="material-icons right">send</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
