<div class="job-offers-page job-offers-page_edit">
  <div class="row">
    <div class="col s12">
      <h1>Editing Job Offer</h1>

      <%= render 'form' %>

      <%= link_to 'Show', admin_job_offer_path(@job_offer) %> |
      <%= link_to 'Back', admin_job_offers_path %>
    </div>
  </div>
</div>
