<div class="job-offers-page job-offers-page_index">
  <div class="row">
    <div class="col s12">
      <h1>Listing Job Offers</h1>

      <%= link_to 'New Job offer', new_admin_job_offer_path %>

      <br />

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Country</th>
            <th>City</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @job_offers.each do |job_offer| %>
            <tr>
              <td><%= link_to job_offer.title, admin_job_offer_path(job_offer) %></td>
              <td><%= job_offer.company.name if job_offer.company %></td>
              <td><%= job_offer.country.name if job_offer.country %></td>
              <td><%= job_offer.city.name if job_offer.city %></td>
              <td><%= link_to 'Edit', edit_admin_job_offer_path(job_offer) %></td>
              <td><%= link_to 'Destroy', admin_job_offer_path(job_offer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Job offer', new_admin_job_offer_path %>
    </div>
  </div>
</div>
