<div class="job-offers-page job-offers-page_new">
  <div class="row">
    <div class="col s12">
      <h1 class="header">New Job Offer</h1>

      <%= render 'form' %>

      <%= link_to 'Back', admin_job_offers_path %>
    </div>
  </div>
</div>
