<div class="job-offers-page job-offers-page_show">
  <div class="row">
    <div class="col s12">
      <%= link_to 'Edit', edit_admin_job_offer_path(@job_offer) %> |
      <%= link_to 'Back', admin_job_offers_path %>

      <p>
        <strong>Title:</strong>
        <%= @job_offer.title %>
      </p>

      <p>
        <strong>Job title:</strong>
        <%= @job_offer.job_title.name if @job_offer.job_title %>
      </p>

      <p>
        <strong>Company:</strong>
        <%= @job_offer.company.name if @job_offer.company %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= link_to @job_offer.link, @job_offer.link, target: '_blank' %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= simple_format(@job_offer.description) %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @job_offer.country.name if @job_offer.country %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @job_offer.city.name if @job_offer.city %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @job_offer.address %>
      </p>

      <p>
        <strong>Technologies:</strong>
        <ul>
          <% @job_offer.technologies.each do |technology| %>
            <li><%= technology.name %></li>
          <% end %>
        </ul>
      </p>

      <p>
        <strong>Is offer active:</strong>
        <%= @job_offer.is_active %>
      </p>

      <p>
        <strong>Offer is active to:</strong>
        <%= @job_offer.active_to %>
      </p>

      <p>
        <strong>Sallary:</strong>
        <%= @job_offer.salary_from %> - <%= @job_offer.salary_to %> <%= @job_offer.currency.sign if @job_offer.currency %> <%= @job_offer.salary_period.period if @job_offer.salary_period %>
      </p>

      <p>
        <strong>Employment type:</strong>
        <%= @job_offer.employment_type.name if @job_offer.employment_type %>
      </p>

      <p>
        <strong>Work type:</strong>
        <%= @job_offer.work_type.name if @job_offer.work_type %>
      </p>

      <%= link_to 'Edit', edit_admin_job_offer_path(@job_offer) %> |
      <%= link_to 'Back', admin_job_offers_path %>
    </div>
  </div>
</div> 
