@charset "UTF-8";

// Mixins
// @import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
// $primary-color: color("teal", "lighten-2") !default;
@import "materialize/components/variables";


// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

// fixing textarea issue with height and turbolinks
textarea.materialize-textarea {
  overflow-y: auto;
}

// Styles for will_paginate_materialize gem
// It's caused because this gem produce pagination that
// have a>li instead of a>li order of tags
.pagination {
  text-align: center;
}

.pagination a li.active {
  color: #fff;
}

.pagination a li {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}

.progress {
  margin: 0 0;
}

.toast{
  &--error {
    @extend .red, .darken-4, .white-text;
  }

  &--success {
    @extend .green, .lighten-1, .white-text;
  }

  &--info {
    @extend .light-blue, .accent-1, .black-text;
  }

  &--warning {
    @extend .yellow, .accent-4, .black-text;
  }
}