<h1>Listing Work Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_types.each do |work_type| %>
      <tr>
        <td><%= work_type.name %></td>
        <td><%= link_to 'Show', admin_work_type_path(work_type) %></td>
        <td><%= link_to 'Edit', edit_admin_work_type_path(work_type) %></td>
        <td><%= link_to 'Destroy', admin_work_type_path(work_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work type', new_admin_work_type_path %>
