<h1>Listing Employment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_types.each do |employment_type| %>
      <tr>
        <td><%= employment_type.name %></td>
        <td><%= link_to 'Show', admin_employment_type_path(employment_type) %></td>
        <td><%= link_to 'Edit', edit_admin_employment_type_path(employment_type) %></td>
        <td><%= link_to 'Destroy', admin_employment_type_path(employment_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment type', new_admin_employment_type_path %>
