<!DOCTYPE html>
<html>
<head>
  <title>Rebase.IT - Administration panel</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <ul id="others-dropdown" class="dropdown-content">
    <li><%= link_to('Job Titles', admin_job_titles_path) %></li>
    <li><%= link_to('Companies', admin_companies_path) %></li>
    <li><%= link_to('Countries', admin_countries_path) %></li>
    <li><%= link_to('Cities', admin_cities_path) %></li>
    <li><%= link_to('Technologies', admin_technologies_path) %></li>
    <li><%= link_to('Employment Types', admin_employment_types_path) %></li>
    <li><%= link_to('Work Types', admin_work_types_path) %></li>
    <li><%= link_to('Salary Periodes', admin_salary_periods_path) %></li>
    <li><%= link_to('Currencies', admin_currencies_path) %></li>
  </ul>
  <nav class="main-nav">
    <div class="nav-wrapper main-nav__wrapper">
      <%= link_to admin_job_offers_path, class: 'brand-logo main-nav__logo' do %>
        <span
          itemprop="name">
          REBASE.IT
        </span>
      <% end %>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to('View Website', root_path) %></li>
        <li><%= link_to('Job Offers', admin_job_offers_path) %></li>
        <li>
          <a 
            class="dropdown-button"
            href="#!"
            data-activates="others-dropdown">
            Others<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <% if admin_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_admin_session_path)  %>  
          </li>
        <% end %>
      </ul>

      <ul class="side-nav" id="mobile-navbar">
        <li><%= link_to('View Website', root_path) %></li>
        <li><%= link_to('Job Offers', admin_job_offers_path) %></li>
        <li><%= link_to('Job Titles', admin_job_titles_path) %></li>
        <li><%= link_to('Companies', admin_companies_path) %></li>
        <li><%= link_to('Countries', admin_countries_path) %></li>
        <li><%= link_to('Cities', admin_cities_path) %></li>
        <li><%= link_to('Technologies', admin_technologies_path) %></li>
        <li><%= link_to('Employment Types', admin_employment_types_path) %></li>
        <li><%= link_to('Work Types', admin_work_types_path) %></li>
        <li><%= link_to('Salary Periodes', admin_salary_periods_path) %></li>
        <li><%= link_to('Currencies', admin_currencies_path) %></li>
        <% if admin_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_admin_session_path)  %>  
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="progress loading-indicator">
      <div class="indeterminate"></div>
  </div>
  <p class="notice"><%= notice %></p>
  <div class="container admin-section">
    <%= yield %>
  </div>
</body>
</html>
