<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Rebase.IT" %></title>
  <meta content="Latest job offers from London. Front-End and Back-End Web Developer jobs in the hottest technologies of 2016. Just Do It! Make Your Dreams Come True!" name="description">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body
  itemscope
  itemtype="http://schema.org/WebPage">

  <%# GOOGLE ANALYTICS %>
  <%= render :partial=>"shared/analytics" if Rails.env.production? %>

  <%# MAIN NAVIGATION %>
  <nav class="main-nav">
    <div class="nav-wrapper main-nav__wrapper">
      <%= link_to root_path, class: 'brand-logo main-nav__logo' do %>
        <span
          itemprop="name">
          Rebase.IT
        </span>
      <% end %>
    </div>
  </nav>

  <%# PROGRESS BAR %>
  <div class="progress loading-indicator">
      <div class="indeterminate"></div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <%= yield(:side) %>
        <%# SIDE NAV %>
        <%= render partial: 'shared/side_nav' %>
      </div>
      <div class="col s12 m9">
        
        <%# MAIN CONTENT %>
        <div
          class="main-content"
          itmeprop="mainContentOfPage">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%# FLASH MESSAGES - JS %>
  <script>
    <%= render partial: 'shared/flash.js' %>
  </script>
</body>
</html>
