<div
  class="row job-offer-card"
  itemscope
  itemtype="http://schema.org/JobPosting">
  <div
    class="col s12">

    <%# TITLE %>
    <h2 class="card-title job-offer-card__title">
      <%= link_to job_offer, itemprop: 'url' do %>
        <span itemprop="title">
          <%= job_offer.title %>
        </span>
      <% end %>
    </h2>
    
    <div class="row job-offer-card__details">
      <div class="col s6 job-offer-card__details-left">
        
        <%# LOCATION: COMPANY, CITY & COUNTRY %>
        <div 
          class="job-offer-card__location">
          <span
            class="job-offer-card__company"
            itemprop="hiringOrganization"
            itemscope
            itemtype="http://schema.org/Organization">
            <span 
              itemprop="name">
              <%= job_offer.company.name + ' ' if job_offer.company %>
            </span>
          </span>
          <span 
            itemprop="jobLocation"
            itemscope
            itemtype="http://schema.org/Place">
            <span
              itemprop="address"
              itemscope
              itemtype="http://schema.org/PostalAddress">
              <span
                itemprop="addressLocality">
                <span
                  class="job-offer-card__city">
                  <%= job_offer.city.name + ', ' if job_offer.city %>
                </span>
                <span
                  class="job-offer-card__country">
                  <%= job_offer.country.code if job_offer.country %>
                </span>
              </span>
            </span>
          </span>
        </div>
        
        <%# SALLARY %>
        <div
          class="job-offer-card__salary"
          itemprop="baseSalary"
          itemscope
          itemtype="http://schema.org/MonetaryAmount">
          <%= render :partial=>"job_offers/salary", locals: {job_offer: job_offer} %>
        </div>

        <%# EMPLOYMENT TYPE %>
        <div class="job-offer-card__employment-type"
          itemprop="employmentType">
          <%= job_offer.employment_type.name if job_offer.employment_type %>
        </div>

        <%# WORK TYPE %>
        <div class="job-offer-card__work-type">
          <%= job_offer.work_type.name if job_offer.work_type %>
        </div>
      </div>
      <div class="col s6 job-offer-card__details-right">
        
        <%# LAST UPDATE %>
        <time
          class="job-offer-card__last-update"
          itemProp="datePosted"
          datetime="<%= job_offer.updated_at.to_s %>">
          <%= time_ago_in_words(job_offer.updated_at) %> ago
        </time>
      </div>
    </div>



    <%# DESCRIPTION %>
    <p
      class="job-offer-card__description"
      itemprop="description">
      <%= job_offer.description.split(/\s+/, 40+1)[0...40].join(' ') %>...
    </p>

    <%# TECHNOLOGIES %>
    <ul class="job-offer-card__technologies">
      <% job_offer.technologies.each do |technology| %>
        <li
          class="job-offer-card__technology">
          <div
            class="chip"
            itemprop="skills">
            <%= technology.name %>
          </div>
        </li>
      <% end %>
    </ul>

  </div>
</div>