<%# RENDERING SALARY: 100,00zł - 150,00zł a week %>
<%# ADDING ALSO SCHEMA.ORG TAGS FOR SEO %>
<%# PARTIAL NEED A "JOB_DESCRIPTION" %>
<% if job_offer.salary_from && job_offer.salary_to && job_offer.currency && job_offer.salary_period %>
  
  <%# CURRENCY TAGS FOR SCHEMA.ORG %>
  <meta
    itemprop="currency"
    content="<%= job_offer.currency.code %>"
  />

  <%# ONE VALUE SCENARIO %>
  <% if job_offer.salary_from == job_offer.salary_to %>
    <span
      itemprop="value"
      content="<%= job_offer.salary_from %>">
      <%= number_to_currency(job_offer.salary_from, :locale => job_offer.currency.locale_code) %>
    </span>

  <%# UP TO SCENARIO %>
  <% elsif job_offer.salary_from == 0 %>
    <span itemprop="maxValue" content="<%= job_offer.salary_to %>">
      up to
      <%= number_to_currency(job_offer.salary_to, :locale => job_offer.currency.locale_code) %>
    </span>

  <%# + SCENARIO %>
  <% elsif job_offer.salary_to == 0 %>
    <span itemprop="minValue" content="<%= job_offer.salary_from %>">
      <%= number_to_currency(job_offer.salary_from, :locale => job_offer.currency.locale_code) %>+
    </span>

  <%# FROM - TO SCENARIO %>
  <% else %>
      <span itemprop="minValue" content="<%= job_offer.salary_from %>">
        <%= number_to_currency(job_offer.salary_from, :locale => job_offer.currency.locale_code) %>
      </span>
      -
      <span itemprop="maxValue" content="<%= job_offer.salary_to %>">
        <%= number_to_currency(job_offer.salary_to, :locale => job_offer.currency.locale_code) %>
      </span>
  <% end %>
  
  <%# PERIOD WITH SCHEMA.ORG TAGS %>
  <time
    itemprop="validThrough"
    datetime="<%= job_offer.salary_period.duration_code %>">
    <%= job_offer.salary_period.period %>
  </time>
<% end %>
