<%
# needs "small_ver", what" and "where"

#one element per line
small_ver = false unless small_ver.present?

what = '' unless what.present?
where = '' unless where.present?
%>
<%= form_tag(search_job_offers_path, :method => "get", class: "search-job-offers") do %>
  <div class="row search-job-offers__box">
    <div class="input-field col s12<%= ' m5'.to_s if !small_ver %>">
      <%= label_tag :search_what, 'What job are you looking for?' %>
      <%= text_field_tag :search_what, what, placeholder: 'Job title, Technology, Company...', class: 'search-job-offers__what-field' %>
    </div>
    <div class="input-field col s12<%= ' m5'.to_s if !small_ver %>">
      <%= label_tag :search_where, 'Where would you like to work?' %>
      <%= text_field_tag :search_where, where, placeholder: 'City, Country...', class: 'search-job-offers__where-field' %>
    </div>
    <div class="input-field col s12<%= ' m2'.to_s if !small_ver %>">
      <%= button_tag(type: "submit", class: "btn waves-effect waves-light search-job-offers__search-button") do %>
        <i class="material-icons">search</i>
      <% end %>
    </div>
  </div>
<% end %>