<% content_for :title, 'Best Web Developer jobs in London' %>
<div
  class="job-offers-page">
  
  <%# SEARCH %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel indigo lighten-5">
        <%= render :partial => "job_offers/search_form" %>
      </div>
    </div>
  </div>

  <%# HEADING %>
  <div class="row">
    <div class="col s12">
      <h1 class="job-offers-page__heading">
        Latest Web Developer jobs from London
      </h1>
      <p class="flow-text job-offers-page__sub-heading">The best and latest job offers from London. Front-End and Back-End Web Developer jobs in the hottest technologies of 2016. Such as Ruby on Rails, React.js, Angular.js and much more. Just Do It! Make Your Dreams Come True! Seriously. Find your dream job here and now.</p>
    </div>
  </div>

  <%# JOB OFFERS %>
  <div class="job-offers-page__job-offers">
    <% @job_offers.each do |job_offer| %>
      <div>
        <%= render :partial=>"job_offers/job_offer", :object=>job_offer %>
      </div>
    <% end %>
    <div class="job-offers-page__pagination">
      <%= will_paginate @job_offers, renderer: MaterializePagination::Rails %>
    </div>
  </div>
</div>
