<% content_for :title, @search_query + (' - page ' + @job_offers.current_page.to_s unless @job_offers.current_page == 1).to_s %>
<div
  class="search-job-offers-page">
  
  <%# SEARCH %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel indigo lighten-5">
        <%= render :partial => "job_offers/search_form", locals: {what: @what, where: @where} %>
      </div>
    </div>
  </div>

  <%# SEARCH RESULTS HEADING %>
  <div class="row">
    <div class="col s12 m8">
      <h1
        class="job-offers-page__heading"
        itemprop="name">
        <%= @search_query %>
      </h1>
    </div>
    <div class="col s12 m4">
      <p class="job-offers-page__heading-subtitle">
        <%= @job_offers.total_entries %> jobs found
      </p>
    </div>
  </div>

  <%# JOB OFFERS %>
  <div class="job-offers-page__job-offers">
    <% @job_offers.each do |job_offer| %>
      <div>
        <%= render :partial=>"job_offers/job_offer", :object=>job_offer %>
      </div>
    <% end %>
    <div class="job-offers-page__pagination">
      <%= will_paginate @job_offers,
        renderer: MaterializePagination::Rails %>
    </div>
  </div>
</div>