<% content_for :title, @job_offer.title + (' - ' + @job_offer.company.name if @job_offer.company).to_s %>

<%# SEARCH ON SIDE %>
<% content_for :side do %>
  <div class="row">
    <div class="col s12">
      <div class="card-panel indigo lighten-5">
        <%= render partial: 'job_offers/search_form', locals: {small_ver: true} %>
      </div>
    </div>
  </div>
<% end %>

<%# MAIN CONTENT %>
<div class="job-offer-page"
  itemscope
  itemtype="http://schema.org/JobPosting">
  <div class="row">
    <div class="col s12">

      <%# TITLE %>
      <h2 
        class="card-title job-offer-page__title"
        itemprop="title">
        <%= @job_offer.title %>
      </h2>
      
      <div class="row job-offer-page__details">
        <div class="col s6 job-offer-page__details-left">
          
          <%# LOCATION: COMPANY, CITY & COUNTRY %>
          <div 
            class="job-offer-page__location">
            <span
              class="job-offer-page__company"
              itemprop="hiringOrganization"
              itemscope
              itemtype="http://schema.org/Organization">
              <span 
                itemprop="name">
                <%= @job_offer.company.name + ' ' if @job_offer.company %>
              </span>
            </span>
            <span 
              itemprop="jobLocation"
              itemscope
              itemtype="http://schema.org/Place">
              <span
                itemprop="address"
                itemscope
                itemtype="http://schema.org/PostalAddress">
                <span
                  itemprop="addressLocality">
                  <span
                    class="job-offer-page__city">
                    <%= @job_offer.city.name + ', ' if @job_offer.city %>
                  </span>
                  <span
                    class="job-offer-page__country">
                    <%= @job_offer.country.code if @job_offer.country %>
                  </span>
                </span>
              </span>
            </span>
          </div>
          
          <%# SALLARY %>
          <div
            class="job-offer-page__salary"
            itemprop="baseSalary"
            itemscope
            itemtype="http://schema.org/MonetaryAmount">
            <%= render :partial=>"job_offers/salary", locals: {job_offer: @job_offer} %>
          </div>

          <%# EMPLOYMENT TYPE %>
          <div class="job-offer-page__employment-type"
            itemprop="employmentType">
            <%= @job_offer.employment_type.name if @job_offer.employment_type %>
          </div>

          <%# WORK TYPE %>
          <div class="job-offer-page__work-type">
            <%= @job_offer.work_type.name if @job_offer.work_type %>
          </div>
        </div>
        <div class="col s6 job-offer-page__details-right">
          
          <%# LAST UPDATE %>
          <time
            class="job-offer-page__last-update"
            itemProp="datePosted"
            datetime="<%= @job_offer.updated_at.to_s %>">
            <%= time_ago_in_words(@job_offer.updated_at) %> ago
          </time>
        </div>
      </div>



      <%# DESCRIPTION %>
      <div
        class="job-offer-page__description"
        itemprop="description">
        <%= simple_format(@job_offer.description) %>
      </div>

      <%# TECHNOLOGIES %>
      <ul class="job-offer-page__technologies">
        <% @job_offer.technologies.each do |technology| %>
          <li
            class="job-offer-page__technology">
            <div
              class="chip"
              itemprop="skills">
              <%= technology.name %>
            </div>
          </li>
        <% end %>
      </ul>
      
      <div class="job-offer-page__buttons">
        
        <%# LINT TO SOURCE %>
        <%= link_to @job_offer.link, target: '_blank', itemprop: 'url', class: 'waves-effect waves-light btn-large' do %>
          Go to source
        <% end %>
      </div>
    </div>
  </div>
</div>