.job-offer-card {
  &__title {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  &__company {
    font-weight: 700;
    padding-right: 10px;
  }

  &__description {
    margin: 0;
    padding: 0;
  }

  &__technologies {
    margin: 0;
    list-style-type: none;
  }

  &__technology {
    display: inline;
  }

  &__details {
    margin-bottom: 0;
  }
  
  &__details-right {
    text-align: right;
  }
  
  &__last-update {
    text-align: right;
    font-weight: 300;
  }

  &__employment-type {

  }

  &__work_type {
    
  }
}