<h1>Listing Technologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.name %></td>
        <td><%= link_to 'Show', admin_technology_path(technology) %></td>
        <td><%= link_to 'Edit', edit_admin_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', admin_technology_path(technology), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technology', new_admin_technology_path %>
