<%= form_for [:admin, @job_title] do |f| %>
  <% if @job_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_title.errors.count, "error") %> prohibited this job_title from being saved:</h2>

      <ul>
      <% @job_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
