<h1>Listing Job Titles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_titles.each do |job_title| %>
      <tr>
        <td><%= job_title.name %></td>
        <td><%= link_to 'Show', admin_job_title_path(job_title) %></td>
        <td><%= link_to 'Edit', edit_admin_job_title_path(job_title) %></td>
        <td><%= link_to 'Destroy', admin_job_title_path(job_title), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job title', new_admin_job_title_path %>
