<%= form_for [:admin, @currency] do |f| %>
  <% if @currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
      <% @currency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :sign %><br>
    <%= f.text_field :sign %>
  </div>
  <div class="field">
    <%= f.label :locale_code %><br>
    <%= f.text_field :locale_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
