<h1>Listing Currencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Sign</th>
      <th>Locale code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td><%= currency.code %></td>
        <td><%= currency.sign %></td>
        <td><%= currency.locale_code %></td>
        <td><%= link_to 'Show', admin_currency_path(currency) %></td>
        <td><%= link_to 'Edit', edit_admin_currency_path(currency) %></td>
        <td><%= link_to 'Destroy', admin_currency_path(currency), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_admin_currency_path %>
