<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @currency.code %>
</p>

<p>
  <strong>Sign:</strong>
  <%= @currency.sign %>
</p>

<p>
  <strong>Locale code:</strong>
  <%= @currency.locale_code %>
</p>

<%= link_to 'Edit', edit_admin_currency_path(@currency) %> |
<%= link_to 'Back', admin_currencies_path %>
