<%= form_for [:admin, @city] do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country_id, 'Country' %><br>
    <%= f.select :country_id,
      Country.all.map { |c| [c.name, c.id] },
                   { include_blank: true },
                   { class: 'chosen-select' }
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
