(function() {
  $(document).on("turbolinks:load", function() {
    <% flash.each do |type, messages| %>
      <% messages.each do |message| %>
        console.log('message');
        Materialize.toast('<%= message %>', 4000, 'toast--<%= type %>');
      <% end %>
    <% end %>
  });
}).call(this);