<%
  side_menu = [
    {
      'what' => 'Ruby on Rails',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Ruby-on-Rails', 'London')
    },
    {
      'what' => 'React.js',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('React.js', 'London')
    },
    {
      'what' => 'Angular.js',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Angular.js', 'London')
    },
    {
      'what' => 'Front End Developer',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Front-End-Developer', 'London')
    },
    {
      'what' => 'Back End Developer',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Back-End-Developer', 'London')
    },
    {
      'what' => 'Full Stack Web Developer',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Full-Stack-Web-Developer', 'London')
    },
    {
      'what' => 'Web Developer',
      'where' => 'London',
      'path' => search_what_where_job_offers_path('Web-Developer', 'London')
    }
  ]
%>
<div
  class="side-menu">
  <ul
    class="collection side-menu__list">
    <% side_menu.each do |item| %>
      <%= link_to item['path'], class: 'collection-item side-menu__list-item' do %>
        <%# image_tag '', class: 'circle side-menu__image' %>
        <span 
          class="title side-menu__title">
          <%= item['what'] %> jobs in <%= item['where'] %>
        </span>
      <% end %>
    <% end %>
</div>