<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @country.code %>
</p>

<%= link_to 'Edit', edit_admin_country_path(@country) %> |
<%= link_to 'Back', admin_countries_path %>
