<%= form_for [:admin, @salary_period] do |f| %>
  <% if @salary_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_period.errors.count, "error") %> prohibited this salary_period from being saved:</h2>

      <ul>
      <% @salary_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period %><br>
    <%= f.text_field :period %>
  </div>

  <div class="field">
    <%= f.label :duration_code %><br>
    <%= f.text_field :duration_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
