<h1>Listing Salary Periods</h1>

<table>
  <thead>
    <tr>
      <th>Period</th>
      <th>Duration code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salary_periods.each do |salary_period| %>
      <tr>
        <td><%= salary_period.period %></td>
        <td><%= salary_period.duration_code %></td>
        <td><%= link_to 'Show', admin_salary_period_path(salary_period) %></td>
        <td><%= link_to 'Edit', edit_admin_salary_period_path(salary_period) %></td>
        <td><%= link_to 'Destroy', admin_salary_period_path(salary_period), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary period', new_admin_salary_period_path %>
