<p>
  <strong>Period:</strong>
  <%= @salary_period.period %>
</p>

<p>
  <strong>Duration code:</strong>
  <%= @salary_period.duration_code %>
</p>


<%= link_to 'Edit', edit_admin_salary_period_path(@salary_period) %> |
<%= link_to 'Back', admin_salary_periods_path %>
