.job-offers-page {
  &__heading {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  &__sub-heading {
    
  }

  &__heading-subtitle {
    text-align: right;
  }

  &__job-offers {

  }
}